/* You can add global styles to this file, and also import other style files */

body {
    background-color: #9848E0;
    color: #45F0DF;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}